.profilePage {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 40px var(--main-padding);
  background: var(--quaternary-color);
  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  width: 100%;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}
