.wrapper {
  display: flex;
  width: 100%;
  margin: 0 auto;
  gap: 60px;
  padding: 0 0 60px 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: var(--background-light);
}
