.grid {
  display: grid !important;
  width: 100% !important;
  padding: 0 20px;
  max-width: 1320px !important;
  justify-content: center;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 8px !important;
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr) !important;
    gap: 8px !important;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px;
}

/* Desktop */
.col-4 {
  grid-column: span 4;
}

.col-12 {
  grid-column: span 12;
}

/* Tablet */
@media (max-width: 1024px) {
  .col-4 {
    grid-column: span 6;
  }
}

/* Mobile */
@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .col-4,
  .col-12 {
    grid-column: span 1;
  }
}

