.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 0 20px;
  max-width: 1300px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.textBlock {
}

.buttonLink {
  text-decoration: none;
}

.center {
  justify-content: center;
  text-align: center;

  .textBlock {
    text-align: center;
  }
}

.right {
  justify-content: flex-end;
  text-align: right;

  .textBlock {
    text-align: right;
  }
}
