.card {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  border-radius: 20px;
  padding: 2rem 2.4rem;
  border: 1px solid #f1f5f9;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.04);

  @media (max-width: 992px) {
    width: 100%;
  }
}

.left {
  max-width: 420px;
}

.label {
  font-size: 1rem;
  letter-spacing: 0.08em;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 0.3rem;
}

.amount {
  font-size: 2rem;
  font-weight: 800;
  color: #0f172a;
  margin-bottom: 0.3rem;
}

.desc {
  font-size: 1.2rem;
  color: var(--text-muted);
  margin-bottom: 1rem;
}

.icon {
  width: 150px;
  height: 150px;
  border-radius: 18px;
  background: var(--tertiary-color);
  color: var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3rem;
  font-weight: 800;

  @media(max-width: 768px){
    display: none;
  }
}